extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let dronesid = toShow._id
    - let model = toShow.model
    - let brand = toShow.brand
    - let range = toShow.range
    - let actionid = "/resource/drones/" + dronesid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='dronesAttr mr-3') drones ID is:
        div #{dronesid}
      div.row
        div(class='modelAttr mr-3') model Type is:
        div #{model}
      div.row
        div(class='brandAttr mr-3') brand Size is:
        div #{brand}
      div.row
        div(class='rangeAttr mr-3') range Cost is:
        div #{range}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/drones'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeded")
          window.location.href='/drones'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }
